@use '../BootstrapVars' as *;

.navbar {
  /* 
  Usando '--bs-secondary' uso il valore post compilazione e non il '$' che deve
  essere sovrascritto prima dell'import di Boostrap
  */
  background-color: var(--bs-secondary);
}
.navbar.navbar-dark {
  /*Le sovrascrivo nella navbar perchè li sovrascrive se li metto nella root*/
  --bs-navbar-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.6);
}

// sm-md
@media only screen and (max-width: 578px) {
  .navbar {
    --bs-navbar-padding-y: 0rem;
  }

  .nav-wrapper {
    /**
    With :
    
    position: fixed 
    bottom: 0
    
    when the page content doesn't overflow the page viewport, the content is clipped and it doesn't
    scroll. A solution could be add a bottom empty space equivalent to the nav height but it's not very
    a clean solution.
    
    Using position static the nav take space in the viewport. The navbar stays fixed because of the 
    app-shell that desn't move. The only element that moves is .page-content.

    */
    position: static !important;
    /* 
    order: 2 -> modifica l'ordine visivo. a '.page-content' è assegnato order:1. 
    Di conseguenza la nav finisce sotto il contenuto della pagina nella view.
    */
    order: 2;
    /*
    Impedisce alla nav di comprimersi quando lo spazio verticale è insufficiente.
    'auto' invece serve a usare l'altezza naturale della navbar
    */
    flex: 0 0 auto;
    width: 100%;
    z-index: 1030;
  }

  /*Nasconde testo brand*/
  .brand-text {
    display: none !important;
  }
  /* Nasconde Home / Exercises */
  .nav-label {
    display: none;
  }

  /* Mostra le icone */
  .nav-icon {
    display: inline-block;
    //font-size: 1.5rem;
  }

  .nav-mt {
    display: none;
  }

  .nav-mb {
    display: block;
    height: ($spacer * 1);
    background-color: var(--bs-body-bg);
    box-shadow: 0px -10px 10px 0px rgba(255, 255, 255, 0.8);
  }

  img {
    width: 2rem;
    aspect-ratio: 1 / 1;
  }
}

// sm-xxl
@media only screen and (min-width: 579px) and (max-width: 2048px) {
  .nav-wrapper {
    top: 0;
  }

  .nav-icon {
    display: none;
  }

  .nav-mt {
    display: block;
    height: ($spacer * 9);
  }

  .nav-mb {
    display: none;
  }

  img {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }
}
